<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout:: head">
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<h3>List Product</h3>
<form action="#" th:action="@{/products/seach}" method="get">
    <input type="text" name="seach" placeholder="nhập tên sp">
    <input type="submit" value="tìm kiếm">
</form>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<p>
    <a th:href="@{/products/create}">
        Add new product
    </a>
</p>
<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>company</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td th:text="${row.getCompany()}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout::footer"></footer>
</body>
</html>